<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Lounge | Members Only</title>
  </head>
  <body>
    <h1>Hello, <%= locals.user?.firstName || "visitor" %>!</h1>
    <nav>
      <a href="/sign-up">Sign Up</a>
      <a href="/login">Login</a>
      <a href="/join-club">Join our club</a>
      <% const isAdmin = locals.user?.membershipStatus === "admin"; %> <% const
      isMember = locals.user?.membershipStatus === "member" || isAdmin; %> <%
      if(isMember) { %>
      <a href="/new-message">New message</a>
      <% } %>
    </nav>

    <% if(locals.messages) { %>
    <main>
      <ul>
        <% messages.forEach((message) => { %>
        <li>
          <% if(isMember) { %>
          <h2>
            <%= message.author.firstName %> <%= message.author.lastName %> (@<%=
            message.author.username %>)
          </h2>
          <time datetime="<%= message.timePosted %>"></time>
          <% } %>
          <p><%= message.body %></p>
        </li>
        <% }) %>
      </ul>
    </main>
    <% } %> <% if(isMember) { %>
    <footer>
      <a href="/become-admin">Become an admin</a>
    </footer>
    <% } %>
    <script src="/index.js"></script>
  </body>
</html>
